<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section-->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
  
    <!-- Right -->

    <!-- Right -->
  </section>
  <!-- Section -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="bi bi-buildings"></i>Evermore
          </h6>
          <p>
            A place to hold your memories
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Social Media
          </h6>
          <p>
            <a href="#!" class="bi bi-facebook text-reset">Facebook</a>
          </p>
          <p>
            <a href="#!" class="bi bi-twitter text-reset">Twitter</a>
          </p>
          <p>
            <a href="#!" class="bi bi-google text-reset">Google</a>
          </p>
          <p>
            <a href="#!" class="bi bi-instagram text-reset">Instagram</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="../price" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="../message" class="text-reset">Message</a>
          </p>
          <p>
            <a href="../features" class="text-reset">Features</a>
          </p>
          <p>
            <a href="../faq" class="text-reset">FAQs</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="bi bi-house"></i> 11 Yuk Choi Rd. City: Hung Hom, Kowloon, Hong Kong </p>
          <p> <i class="bi bi-envelope"></i> info@example.com </p>
          <p><i class="bi bi-telephone"></i> +852 2828 7573 </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
</footer>


