{% extends "base/base.html" %}
{% block css %}
<link href="{{ url_for('static', filename='css/heaven/style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block main %}
<main id="main-content" class="d-flex justify-content-center align-items-center flex-column" style="height: 100vh; background-color: #000;">
    <div id="end-credits">
      {% for memorial in memorials %}
      <div>{{ memorial.deceasedName }}</div>
      <br>
      {% endfor %}
    </div>
</main>
{% block scripts %}
<script src=" {{ url_for('static', filename='js/heaven/script.js') }} "></script>
{% endblock %}
{% endblock %}
