{% extends "base/base.html" %}
{% block css %}
<link href="{{ url_for('static', filename='css/heaven/style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block main %}
<main>
    <div class="container">
		<div class="heaven-animation"></div>
		<h1 id="name"></h1>
        {% for name in names %}
            <p>{{ name }}</p>
        {% endfor %}
		<button onclick="goBack()">Go Back</button>
	</div>
</main>
<script>
const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
const name = urlParams.get('name');
document.getElementById('name').innerText = name;

function goBack() {
	window.history.back();
}
</script>

{% endblock %}