{% extends "base/base.html" %}
{% block css %}
<link href="{{ url_for('static', filename='css/memorial/carousel.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/memorial/style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block main %}
<main class="container">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='img/home1.jpg') }}" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>A place to hold your memories</h1>
            <p>Create a personalized memorial and cherish the memories of your loved ones forever.</p>
            <p><a class="btn btn-lg btn-light" href="/register">Sign up now</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='img/home2.jpg') }}" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
        <div class="container">
          <div class="carousel-caption">
            <h1>Connect with others</h1>
            <p>Find comfort and support from others who have experienced a similar loss.</p>
            <p><a class="btn btn-lg btn-light" href="/features">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='img/home3.jpg') }}" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Share your memories</h1>
            <p>Remember your loved ones by sharing your favorite memories and stories with family and friends.</p>
            <p><a class="btn btn-lg btn-light" href="../memorial/create">Create a memorial</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
    {% for memorial, image in images %}
      <div class="col">
        <div class="card h-100 card-upscale">
          <div class="card-body">
            {% if image %}
              <img src="{{ url_for('static', filename=image.path.split('/', 1)[1]) }}" width="200" height="400" class="card-img-top" alt="...">
            {% endif %}
            <h5 class="card-title">{{ memorial.deceasedName }}</h5>
            <p class="card-text">{{ memorial.memorialDescription }}</p>
            <!-- Add a button that triggers the modal -->
            <a class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#deceasedModal{{ memorial.id }}">Commemorate &raquo;</a>
            <!-- Add a modal dialog box for each deceased person -->
            <div class="modal fade" id="deceasedModal{{ memorial.id }}" tabindex="-1" aria-labelledby="deceasedModal{{ memorial.id }}Label" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content bg-transparent border-0">
                  <div class="modal-body p-0">
                    <div class="container-fluid">
                      <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12">
                          <div class="card border-light mb-3">
                            <div class="card-header bg-white text-center">
                              <h5 class="card-title mb-0">You Will Always Be Remembered</h5>
                            </div>
                            <div class="card-body">
                              {% if image %}
                              <img src="{{ url_for('static', filename=image.path.split('/', 1)[1]) }}" width="200" height="400" class="card-img-top" alt="...">
                            {% endif %}
                              <p class="card-text">Death Date: {{ memorial.death_date }}</p>
                              <p class="card-text">His Name: {{ memorial.deceasedName }}</p>
                              <p class="card-text">Epitaph: {{ memorial.epitaph }}</p>
                              <p class="card-text">{{ memorial.memorialDescription }}</p>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  
 
  <div class="chatbox">
  <div class="position-fixed bottom-0 end-0 p-3">
    <div class="card" id="chatbox">
      <div class="card-header bg-secondary text-white">
        Support Chat
        <button class="btn btn-outline-light btn-sm float-end" type="button" id="collapse-btn" data-bs-toggle="collapse" data-bs-target="#chatbox" aria-expanded="false" aria-controls="chatbox">
          <i class="bi bi-chevron-down"></i>
        </button>
      </div>
      <div class="card-body">
        <p id="chat-text"></p>
      </div>
      <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
        <form method="POST">
          <div class="input-group mb-0">
            <input type="text" class="form-control" placeholder="Type message" aria-label="Recipient's username" aria-describedby="button-addon2" name="message"/>
            <button class="btn btn-outline-light" type="submit" id="button-addon2" style="padding-top: .55rem;">
              Ask Us
            </button>
          </div>
        </form>
      </div>
    </div>
    <button class="btn btn-secondary position-fixed bottom-0 end-0 m-3" id="mail-icon">
      <i class="bi bi-envelope"></i>
    </button>
  </div>
  </div>

  
</main>
{% block scripts %}
<script src="{{ url_for('static', filename='js/memorial/script.js') }}"></script>
{% endblock %}
{% endblock %}