{% extends "base/base.html" %}
{% block css %}

{% endblock %}
{% block main %}
<main class="container">
  {% for user_memorial in user_memorials %}
  {% for user_image in user_images %}
    {% if user_memorial.image == user_image.id %}
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{{ url_for('static', filename=user_image.path.split('/', 1)[1]) }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ user_memorial.deceasedName }}</h5>
              <p class="card-text">{{ user_memorial.birth_date }} - {{ user_memorial.death_date }}</p>
              <p class="card-text">{{ user_memorial.epitaph }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-8 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">About {{ user_memorial.deceasedName }}</h5>
              <p class="card-text">{{ user_memorial.memorialDescription }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  {% endfor %}
</main>
{% endblock %}